# Data Cleaning

In [201]:
import pandas as pd

weekly_sales_v2 = pd.read_csv("../data/processed/weekly_sales_v2.csv")

weekly_sales_v2.head(5)

,Date,Year,Month,Week_num,weekday,trend,Sales,baseline_sales,lift_pct,open_rate_store,...,Product_page_views,holiday_a,holiday_b,holiday_c,Digital_adstock,TV_adstock,OOH_adstock,Digital_sat,TV_sat,OOH_sat
0,2013-01-06,2013,1,1,6,1,26129335,3.584752e+07,-0.271098,0.572838,...,55075.497241,1,0,0,71476.013153,0.0,0.0,0.142295,0.0,0.0
1,2013-01-13,2013,1,2,6,2,49275222,3.585626e+07,0.374243,0.851890,...,73131.526628,0,0,0,113924.224582,0.0,0.0,0.296500,0.0,0.0
2,2013-01-20,2013,1,3,6,3,34377765,3.586500e+07,-0.041468,0.852530,...,42756.078058,0,0,0,138522.437796,0.0,0.0,0.383901,0.0,0.0
3,2013-01-27,2013,1,4,6,4,46040169,3.587375e+07,0.283395,0.853940,...,87081.888730,0,0,0,183862.288397,0.0,0.0,0.523305,0.0,0.0
4,2013-02-03,2013,2,5,6,5,38466029,3.590751e+07,0.071253,0.854196,...,60492.137175,0,0,0,162359.586298,0.0,0.0,0.461213,0.0,0.0

Drop baseline and lift pct columns.

These columns are derived from the target variable Sales

In [202]:
weekly_sales_v2 = weekly_sales_v2.drop(columns=["baseline_sales", "lift_pct"])
weekly_sales_v2.columns

Index(['Date', 'Year', 'Month', 'Week_num', 'weekday', 'trend', 'Sales',
       'open_rate_store', 'StateHoliday', 'SchoolHoliday', 'Promo',
       'promo_type', 'promo_type2', 'promo_intensity', 'promo_decay',
       'promo_adstock_norm', 'Digital_spend', 'TV_spend', 'OOH_spend', 'CPM',
       'Digital_impressions', 'CTR', 'Digital_clicks', 'LandingRate',
       'Product_page_views', 'holiday_a', 'holiday_b', 'holiday_c',
       'Digital_adstock', 'TV_adstock', 'OOH_adstock', 'Digital_sat', 'TV_sat',
       'OOH_sat'],
      dtype='object')

## should i delete open rate var?

Drop week num and year

In [203]:
weekly_sales_v2 = weekly_sales_v2.drop(columns=["Week_num", "Year"])
weekly_sales_v2.columns

Index(['Date', 'Month', 'weekday', 'trend', 'Sales', 'open_rate_store',
       'StateHoliday', 'SchoolHoliday', 'Promo', 'promo_type', 'promo_type2',
       'promo_intensity', 'promo_decay', 'promo_adstock_norm', 'Digital_spend',
       'TV_spend', 'OOH_spend', 'CPM', 'Digital_impressions', 'CTR',
       'Digital_clicks', 'LandingRate', 'Product_page_views', 'holiday_a',
       'holiday_b', 'holiday_c', 'Digital_adstock', 'TV_adstock',
       'OOH_adstock', 'Digital_sat', 'TV_sat', 'OOH_sat'],
      dtype='object')

### holidays merge or drop?

## Nulls

In [204]:
weekly_sales_v2.isnull().sum()

Date                    0
Month                   0
weekday                 0
trend                   0
Sales                   0
open_rate_store         0
StateHoliday            0
SchoolHoliday           0
Promo                   0
promo_type             63
promo_type2            63
promo_intensity         0
promo_decay             0
promo_adstock_norm      0
Digital_spend           0
TV_spend                0
OOH_spend               0
CPM                     0
Digital_impressions     0
CTR                     0
Digital_clicks          0
LandingRate             0
Product_page_views      0
holiday_a               0
holiday_b               0
holiday_c               0
Digital_adstock         0
TV_adstock              0
OOH_adstock             0
Digital_sat             0
TV_sat                  0
OOH_sat                 0
dtype: int64

## Duplicates

In [205]:
weekly_sales_v2.duplicated().sum()

np.int64(0)

## Data gaps

In [206]:
weekly_sales_v2["Date"] = pd.to_datetime(weekly_sales_v2["Date"], errors="coerce")
weekly_sales_v2 = weekly_sales_v2.sort_values("Date").reset_index(drop=True)

weekly_sales_v2["date_diff"] = weekly_sales_v2["Date"].diff()
weekly_sales_v2["date_diff"] = weekly_sales_v2["date_diff"].dt.days
weekly_sales_v2[["Date","date_diff"]].head(5)

        Date  date_diff
0 2013-01-06        NaN
1 2013-01-13        7.0
2 2013-01-20        7.0
3 2013-01-27        7.0
4 2013-02-03        7.0

In [207]:
weekly_sales_v2["date_diff"].value_counts()

date_diff
7.0    134
Name: count, dtype: int64

In [208]:
weekly_sales_v2["StateHoliday"].nunique()

2

In [209]:
weekly_sales_v2["SchoolHoliday"].nunique()

92

In [210]:
weekly_sales_v2["SchoolHoliday"]

0      0.740103
1      0.083471
2      0.000000
3      0.000000
4      0.019199
         ...
130    0.212798
131    0.212956
132    0.372838
133    0.521162
134    0.798922
Name: SchoolHoliday, Length: 135, dtype: float64

temporalmente dropear school holiday. solo se ocupa un holiday?

In [211]:
weekly_sales_v2 = weekly_sales_v2.drop(columns="SchoolHoliday")

In [212]:
with pd.option_context("display.max_columns", None):
    display(weekly_sales_v2.head())

,Date,Month,weekday,trend,Sales,open_rate_store,StateHoliday,Promo,promo_type,promo_type2,promo_intensity,promo_decay,promo_adstock_norm,Digital_spend,TV_spend,OOH_spend,CPM,Digital_impressions,CTR,Digital_clicks,LandingRate,Product_page_views,holiday_a,holiday_b,holiday_c,Digital_adstock,TV_adstock,OOH_adstock,Digital_sat,TV_sat,OOH_sat,date_diff
0,2013-01-06,1,6,1,26129335,0.572838,1,0.000000,NaN,NaN,-0.000000,-0.000000,0.000000,71476.013153,0.0,0.0,6.108456,1.170116e+07,0.009486,111002.906731,0.496163,55075.497241,1,0,0,71476.013153,0.0,0.0,0.142295,0.0,0.0,NaN
1,2013-01-13,1,6,2,49275222,0.851890,0,0.831102,caguamas,caguamas,0.311034,0.311034,0.585096,78186.218005,0.0,0.0,6.657182,1.174464e+07,0.012347,145011.371049,0.504316,73131.526628,0,0,0,113924.224582,0.0,0.0,0.296500,0.0,0.0,7.0
2,2013-01-20,1,6,3,34377765,0.852530,0,0.000000,NaN,NaN,-0.000000,0.155517,0.292548,81560.325505,0.0,0.0,5.848056,1.394657e+07,0.007442,103783.699864,0.411973,42756.078058,0,0,0,138522.437796,0.0,0.0,0.383901,0.0,0.0,7.0
3,2013-01-27,1,6,4,46040169,0.853940,0,0.830758,discount,caguamas,0.235432,0.313191,0.731127,114601.069498,0.0,0.0,5.604729,2.044721e+07,0.009471,193648.184854,0.449691,87081.888730,0,0,0,183862.288397,0.0,0.0,0.523305,0.0,0.0,7.0
4,2013-02-03,2,6,5,38466029,0.854196,0,0.000000,NaN,NaN,0.000000,0.156595,0.365564,70428.442099,0.0,0.0,5.811603,1.211859e+07,0.010723,129948.869713,0.465507,60492.137175,0,0,0,162359.586298,0.0,0.0,0.461213,0.0,0.0,7.0

PROMO ONE HOT ENCODING

In [213]:

weekly_sales_v2["promo_type"].value_counts()
weekly_sales_v2 = weekly_sales_v2.drop(columns= "promo_type")

In [214]:
weekly_sales_v2["promo_type2"].value_counts()

promo_type2
caguamas    72
Name: count, dtype: int64

In [215]:
weekly_sales_v2["is_caguamas"] = (weekly_sales_v2["promo_type2"] == "caguamas").astype(int)
weekly_sales_v2 = weekly_sales_v2.drop(columns=["promo_type2"])

In [216]:
weekly_sales_v2

,Date,Month,weekday,trend,Sales,open_rate_store,StateHoliday,Promo,promo_intensity,promo_decay,...,holiday_b,holiday_c,Digital_adstock,TV_adstock,OOH_adstock,Digital_sat,TV_sat,OOH_sat,date_diff,is_caguamas
0,2013-01-06,1,6,1,26129335,0.572838,1,0.000000,-0.000000,-0.000000,...,0,0,71476.013153,0.000000,0.000000e+00,0.142295,0.000000,0.000000e+00,NaN,0
1,2013-01-13,1,6,2,49275222,0.851890,0,0.831102,0.311034,0.311034,...,0,0,113924.224582,0.000000,0.000000e+00,0.296500,0.000000,0.000000e+00,7.0,1
2,2013-01-20,1,6,3,34377765,0.852530,0,0.000000,-0.000000,0.155517,...,0,0,138522.437796,0.000000,0.000000e+00,0.383901,0.000000,0.000000e+00,7.0,0
3,2013-01-27,1,6,4,46040169,0.853940,0,0.830758,0.235432,0.313191,...,0,0,183862.288397,0.000000,0.000000e+00,0.523305,0.000000,0.000000e+00,7.0,1
4,2013-02-03,2,6,5,38466029,0.854196,0,0.000000,0.000000,0.156595,...,0,0,162359.586298,0.000000,0.000000e+00,0.461213,0.000000,0.000000e+00,7.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,2015-07-05,7,6,131,55690481,0.860987,0,0.829315,0.414416,0.530790,...,0,0,178605.208980,2065.434780,5.400209e-07,0.508817,0.000438,1.595551e-12,7.0,1
131,2015-07-12,7,6,132,41391282,0.860346,0,0.000000,0.000000,0.265395,...,0,0,150604.022569,1652.347824,3.240126e-07,0.424146,0.000306,8.643550e-13,7.0,0
132,2015-07-19,7,6,133,52008419,0.859449,0,0.829308,0.331635,0.464332,...,0,0,177800.048165,1321.878259,1.944075e-07,0.506558,0.000214,4.682456e-13,7.0,1
133,2015-07-26,7,6,134,39402115,0.859705,0,0.000000,0.000000,0.232166,...,0,0,157708.284009,1057.502608,1.166445e-07,0.446804,0.000150,2.536619e-13,7.0,0
134,2015-08-02,8,6,135,47230923,0.713004,0,1.000000,0.269846,0.385929,...,0,0,161211.424431,846.002086,6.998671e-08,0.457688,0.000105,1.374158e-13,7.0,1