# Data Cleaning

In [36]:
import pandas as pd

weekly_sales_v2 = pd.read_csv("../data/processed/weekly_sales_v2.csv")

weekly_sales_v2.head(5)

,Date,Year,Month,Week_num,weekday,trend,Sales,baseline_sales,lift_pct,open_rate_store,...,Product_page_views,holiday_a,holiday_b,holiday_c,Digital_adstock,TV_adstock,OOH_adstock,Digital_sat,TV_sat,OOH_sat
0,2013-01-06,2013,1,1,6,1,26129335,3.584752e+07,-0.271098,0.572838,...,55075.497241,1,0,0,71476.013153,0.0,0.0,0.142295,0.0,0.0
1,2013-01-13,2013,1,2,6,2,49275222,3.585626e+07,0.374243,0.851890,...,73131.526628,0,0,0,113924.224582,0.0,0.0,0.296500,0.0,0.0
2,2013-01-20,2013,1,3,6,3,34377765,3.586500e+07,-0.041468,0.852530,...,42756.078058,0,0,0,138522.437796,0.0,0.0,0.383901,0.0,0.0
3,2013-01-27,2013,1,4,6,4,46040169,3.587375e+07,0.283395,0.853940,...,87081.888730,0,0,0,183862.288397,0.0,0.0,0.523305,0.0,0.0
4,2013-02-03,2013,2,5,6,5,38466029,3.590751e+07,0.071253,0.854196,...,60492.137175,0,0,0,162359.586298,0.0,0.0,0.461213,0.0,0.0

Drop baseline and lift pct columns.

These columns are derived from the target variable Sales

In [37]:
weekly_sales_v2 = weekly_sales_v2.drop(columns=["baseline_sales", "lift_pct"])
weekly_sales_v2.columns

Index(['Date', 'Year', 'Month', 'Week_num', 'weekday', 'trend', 'Sales',
       'open_rate_store', 'StateHoliday', 'SchoolHoliday', 'Promo',
       'promo_type', 'promo_type2', 'promo_intensity', 'promo_decay',
       'promo_adstock_norm', 'Digital_spend', 'TV_spend', 'OOH_spend', 'CPM',
       'Digital_impressions', 'CTR', 'Digital_clicks', 'LandingRate',
       'Product_page_views', 'holiday_a', 'holiday_b', 'holiday_c',
       'Digital_adstock', 'TV_adstock', 'OOH_adstock', 'Digital_sat', 'TV_sat',
       'OOH_sat'],
      dtype='object')

## should i delete open rate var?

Drop week num and year

In [38]:
weekly_sales_v2 = weekly_sales_v2.drop(columns=["Week_num", "Year"])
weekly_sales_v2.columns

Index(['Date', 'Month', 'weekday', 'trend', 'Sales', 'open_rate_store',
       'StateHoliday', 'SchoolHoliday', 'Promo', 'promo_type', 'promo_type2',
       'promo_intensity', 'promo_decay', 'promo_adstock_norm', 'Digital_spend',
       'TV_spend', 'OOH_spend', 'CPM', 'Digital_impressions', 'CTR',
       'Digital_clicks', 'LandingRate', 'Product_page_views', 'holiday_a',
       'holiday_b', 'holiday_c', 'Digital_adstock', 'TV_adstock',
       'OOH_adstock', 'Digital_sat', 'TV_sat', 'OOH_sat'],
      dtype='object')

### holidays merge or drop?

## Nulls

In [39]:
weekly_sales_v2.isnull().sum()

Date                    0
Month                   0
weekday                 0
trend                   0
Sales                   0
open_rate_store         0
StateHoliday            0
SchoolHoliday           0
Promo                   0
promo_type             63
promo_type2            63
promo_intensity         0
promo_decay             0
promo_adstock_norm      0
Digital_spend           0
TV_spend                0
OOH_spend               0
CPM                     0
Digital_impressions     0
CTR                     0
Digital_clicks          0
LandingRate             0
Product_page_views      0
holiday_a               0
holiday_b               0
holiday_c               0
Digital_adstock         0
TV_adstock              0
OOH_adstock             0
Digital_sat             0
TV_sat                  0
OOH_sat                 0
dtype: int64

## Duplicates

In [40]:
weekly_sales_v2.duplicated().sum()

np.int64(0)

## Data gaps

In [41]:
weekly_sales_v2["Date"] = pd.to_datetime(weekly_sales_v2["Date"], errors="coerce")
weekly_sales_v2 = weekly_sales_v2.sort_values("Date").reset_index(drop=True)

weekly_sales_v2["date_diff"] = weekly_sales_v2["Date"].diff()
weekly_sales_v2["date_diff"] = weekly_sales_v2["date_diff"].dt.days
weekly_sales_v2[["Date","date_diff"]].head(5)

        Date  date_diff
0 2013-01-06        NaN
1 2013-01-13        7.0
2 2013-01-20        7.0
3 2013-01-27        7.0
4 2013-02-03        7.0

In [42]:
weekly_sales_v2["date_diff"].value_counts()

date_diff
7.0    134
Name: count, dtype: int64

In [43]:
weekly_sales_v2["StateHoliday"].nunique()

2

In [44]:
weekly_sales_v2["SchoolHoliday"].nunique()

92

In [45]:
weekly_sales_v2["SchoolHoliday"]

0      0.740103
1      0.083471
2      0.000000
3      0.000000
4      0.019199
         ...
130    0.212798
131    0.212956
132    0.372838
133    0.521162
134    0.798922
Name: SchoolHoliday, Length: 135, dtype: float64

In [ ]:
weekly_sales_v2.loc[weekly_sales_v2[""]]